.center {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.stdbody {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    font-size: larger;
}