@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}


body > * {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}


body > *:nth-child(1) {
    animation-delay: 0.2s;
}
body > *:nth-child(2) {
    animation-delay: 0.3s;
}
body > *:nth-child(3) {
    animation-delay: 0.4s;
}
body > *:nth-child(4) {
    animation-delay: 0.47s;
}
body > *:nth-child(5) {
    animation-delay: 0.58s;
}
body > *:nth-child(6) {
    animation-delay: 0.65s;
}