@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}


.meat > * {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}


.meat > *:nth-child(1) {
    animation-delay: 0.2s;
}
.meat > *:nth-child(2) {
    animation-delay: 0.3s;
}
.meat > *:nth-child(3) {
    animation-delay: 0.4s;
}
.meat > *:nth-child(4) {
    animation-delay: 0.47s;
}
.meat > *:nth-child(5) {
    animation-delay: 0.58s;
}
.meat > *:nth-child(6) {
    animation-delay: 0.65s;
}
.meat > *:nth-child(7) {
    animation-delay: 0.7s;
}
.meat > *:nth-child(8) {
    animation-delay: 0.75s;
}
.meat > *:nth-child(9) {
    animation-delay: 0.79s;
}
.meat > *:nth-child(10) {
    animation-delay: 0.83s;
}
.meat > *:nth-child(11) {
    animation-delay: 0.87s;
}

.meat > *:nth-child(12) {
    animation-delay: 0.9s;
}

.meat > *:nth-child(13) {
    animation-delay: 0.93s;
}

.meat > *:nth-child(14) {
    animation-delay: 0.96s;
}