.meat {
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    font-size:large;
    padding-bottom:10%
}
.center {
    display: flex;
    justify-content: center;
    margin: -20px;
    margin-bottom: 0px;
    background-color: rgb(243, 243, 243);
    
}

.center1 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.centered{
    display:flex;
    justify-content: center;
}

.text{
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 10px;
}

.abouttext{
    margin-left: 14%;
    margin-right: 14%;
}

.abouttext img {
    display:flex;
    justify-content: center;
    margin: 5px auto;
    width:90%;
}

.smalltext{
    font-size:smaller;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 10px;
}

.caption {
    font-size: 1rem;
    color: #333;
    max-width: 400px;
    margin: 0 auto;
}

.infoBox{
    padding:10px;
    border: 1px solid #ccc;
    background-color: #e7e7e7;
    font-family: 'IBM Plex Sans', sans-serif;
    width: auto;
    display:flex;
}

.infoBox .stat{
    width: 100px;
    display:flex;
    justify-content: right;
}

.infoBox .flavor{
    display:flex;
    justify-content: left;
    width: 250px;
}