body {
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Georgia', sans-serif;
    overflow-x: hidden;
    color: rgb(63, 63, 63);
    
}

.center {
    display: flex;
    justify-content: center;
    margin: -20px;
    margin-bottom: 0px;
    background-color: rgb(243, 243, 243);
    
}

.center1 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.centered{
    display:flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }